.container {
  pointer-events: none;
}

.wrapper {
  position: relative;
  z-index: 0;
  background: #282b3c;
  background-size: cover;
  overflow: hidden;
  height: 100vh;
}

.presentation {
  margin-top: 170px;
  position: relative;
  z-index: 8;
  font-family: 'Nunito', sans-serif;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 2.5rem;
  padding: 0;
  margin: 0.3em 0;
}

.description {
  margin: 0;
  color: rgba(white, 0.8);
  padding: 0;
  font-size: 1.5em;
  font-weight: 300;
  width: 600px;
}

.computer {
  width: 450px;
}

.scroll {
  animation: bounce 1s infinite;
  display: inline-block;
  z-index: 3;
  position: absolute;
  width: 35px;
  bottom: 18%;
  left: 0;
  right: 0;
  margin: auto;
  @keyframes bounce {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0);
    }
  }
}

span.scroll {
  display: inline-block;
  position: absolute;
  z-index: 3;
  font-size: 0.7em;
  font-weight: 700;
  border-radius: 0.2em;
  text-align: center;
  color: white;
  text-transform: uppercase;
  padding: 0.5em 0;
  width: 100px;
  bottom: 15%;
  left: 0;
  right: 0;
  margin: auto;
}

@media only screen and (max-width: 1500px) {
  .presentation {
    width: 100% !important;
    left: 0;
  }
}
